@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");

* {
  /* margin: 0; // article markdown 문서가 마진을 삽입하면 글 간격이 줄어 듬.
  padding: 0;
  text-decoration: none;
  list-style: none; */
  box-sizing: border-box;
}

:root {
  --mainColor: rgb(49, 49, 124);
  --mainColor-Light: rgb(88, 88, 143);
  --secondaryColor: #4885f7;
  --royalBlue: royalBlue;
  --text-color: white;
  --main-bg-color: rgba(255, 255, 255, 0.2);
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: black;
  font-size: 16px;
  /* background-image: url("../public/images/sunset.jpg");
  background-size: cover; */
}

/* .home-section {
  width: 100%;
  display: block;
  min-height: 100vh;
  background-image: url("../img/home.jpg");
  background-position: center top;
  background-size: cover;
} */

a {
  text-decoration: none;
  color: #ecb365;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

svg {
  width: 2.8rem;
}

.logo-img {
  width: 125px;
  height: 26px;
  cursor: pointer;
}

img {
  width: 100%;
  height: 200px;
}

body.hidden-scrolling {
  overflow-y: hidden;
}

.navi-container {
  top: 0;
  left: 0;
  margin: 0 auto;
  padding: 15px;
  position: fixed;
  display: flex;
  width: 100%;
  height: 5rem;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main-bg-color);
  z-index: 9;
  line-height: 1.5;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 70rem;
  margin: 0 auto;
  padding-top: 5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  z-index: 7;
}

.navi-container .navi-logo {
  display: flex;
  padding: 0 10px;
  align-items: center;
}

.navi-container .navi-logo .brand-logo {
  color: #e6a64e;
  margin-left: 1rem;
}

.navi-container .navi-logo .brand-name {
  margin: 0.5rem;
}

.logo-img {
  width: 125px;
  height: 26px;
  cursor: pointer;
}

.navi-container .navi-menu {
  padding: 0 2rem; /**/
  align-items: center;
  /* height: 100%; */
}

.navi-container .navi-menu .menu-list {
  display: flex;
}

.navi-container .navi-menu .menu-list > li {
  position: relative; /**/
  margin-left: 50px;
  list-style: none;
}

.navi-container .navi-menu .menu-list > li a {
  display: block; /**/
  color: black;
  padding: 12px 0;
  text-transform: capitalize; /**/
  font-weight: 600; /**/
  transition: all 0.3s ease; /**/
  font-size: 1.2rem;
}

/**/
.navi-container .navi-menu .menu-list > li a .plus {
  display: inline-block;
  height: 12px;
  width: 12px;
  position: relative;
  margin-left: 5px;
  pointer-events: none;
}

/**/
.navi-container .navi-menu .menu-list > li a .plus:before,
.navi-container .navi-menu .menu-list > li a .plus:after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  background-color: #000000;
  height: 2px;
  width: 100%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}

/**/
.navi-container .navi-menu .menu-list > li a:hover > .plus:before,
.navi-container .navi-menu .menu-list > li a:hover > .plus:after {
  background-color: #e91e63;
}

/**/
.navi-container .navi-menu .menu-list > li a .plus:after {
  transform: translate(-50%, -50%) rotate(-90deg);
}

/**/
.navi-container .navi-menu .menu-list > li > .sub-menu .menu-item a:hover,
.navi-container .navi-menu .menu-list > li > a:hover {
  color: #e91e63;
}

/**/
.navi-container .navi-menu .menu-list > li > .sub-menu {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 220px;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #ffffff;
  padding: 10px 0;
  border-top: 3px solid #e91e63;
  transform: translateY(10px);
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

@media (min-width: 950px) {
  .navi-container .navi-menu .menu-list > .sub-item:hover .sub-menu {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
  .navi-container .navi-menu .menu-list > .sub-item:hover a .plus:after {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

/**/
.navi-container .navi-menu .menu-list li .sub-menu > .menu-item {
  display: block;
}

/**/
.navi-container .navi-menu .menu-list li .sub-menu > .menu-item a {
  display: block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  transition: all 0.3s ease;
  text-transform: capitalize;
}

/** **/
.navi-container .open-nav-menu {
  height: 34px;
  width: 40px;
  margin-right: 15px;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.navi-container .open-nav-menu span {
  display: block;
  height: 3px;
  width: 24px;
  background-color: #000000;
  position: relative;
}

.navi-container .open-nav-menu span:before,
.navi-container .open-nav-menu span:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  box-sizing: border-box;
}

.navi-container .open-nav-menu span:before {
  top: -7px;
}

.navi-container .open-nav-menu span:after {
  top: 7px;
}

.navi-container .close-nav-menu {
  height: 40px;
  width: 40px;
  background-color: #ffffff;
  margin: 0 0 15px 15px;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
}

.navi-container .close-nav-menu img {
  width: 16px;
}

.navi-container .menu-overlay {
  position: fixed;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  visibility: hidden; /* 영역은 유지 */
  opacity: 0;
  transition: all 0.3s ease;
}

.navi-btn {
  display: none;
  top: 1.2rem;
  right: 2rem;
  width: 3rem;
  height: 3rem;
  padding: 0;
  position: absolute;
  color: #5073d4;
}

@media screen and (max-width: 950px) {
  .container {
    padding-top: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 50rem;
    margin: 0 auto;
    z-index: 7;
  }

  .navi-btn {
    display: block;
    top: 1.2rem;
    right: 2rem;
    width: 3rem;
    height: 3rem;
    padding: 0;
    position: absolute;
    border: none;
    background-color: var(--main-bg-color);
    border-radius: 20%;
    color: #5073d4;
    z-index: 10;
  }

  .navi-btn:hover {
    border: #4885f7 solid;
    cursor: pointer;
  }

  .navi-menu {
    top: 0;
    left: -100%;
    display: flex;
    position: absolute;
    z-index: -1;
  }

  .mobile-menu {
    top: 0;
    left: 0;
    display: fixed;
    position: absolute;
    padding: 5rem;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(7px);
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in;
    z-index: 9;
  }

  ul.menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  ul.menu-list li {
    margin: 10px 0;
    font-size: 1.2rem;
  }

  .navi-container .mobile-menu .menu-list {
    display: flex;
  }

  .navi-container .mobile-menu .menu-list > li {
    position: relative; /**/
    margin-left: 50px;
    list-style: none;
  }

  .navi-container .mobile-menu .menu-list > li a {
    display: block; /**/
    color: black;
    padding: 12px 0;
    text-transform: capitalize; /**/
    font-weight: 600; /**/
    transition: all 0.3s ease; /**/
    font-size: 1.2rem;
  }

  /**/
  .navi-container .mobile-menu .menu-list > li a .plus {
    display: inline-block;
    height: 12px;
    width: 12px;
    position: relative;
    margin-left: 5px;
    pointer-events: none;
  }

  /**/
  .navi-container .mobile-menu .menu-list > li a .plus:before,
  .navi-container .mobile-menu .menu-list > li a .plus:after {
    content: "";
    position: absolute;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    background-color: #000000;
    height: 2px;
    width: 100%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
  }

  /**/
  .navi-container .mobile-menu .menu-list > li a:hover > .plus:before,
  .navi-container .mobile-menu .menu-list > li a:hover > .plus:after {
    background-color: #e91e63;
  }

  /**/
  .navi-container .mobile-menu .menu-list > li a .plus:after {
    transform: translate(-50%, -50%) rotate(-90deg);
  }

  /**/
  .navi-container .mobile-menu .menu-list > li > .sub-menu .menu-item a:hover,
  .navi-container .mobile-menu .menu-list > li > a:hover {
    color: #e91e63;
  }

  /**/
  .navi-container .mobile-menu .menu-list > li > .sub-menu {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 220px;
    position: absolute;
    left: 5rem;
    top: 100%;
    background-color: #ffffff;
    padding: 10px 10px;
    border-top: 3px solid #e91e63;
    transform: translateY(10px);
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
  }
}

.navi-container .mobile-menu .menu-list > .sub-item:hover .sub-menu {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.navi-container .mobile-menu .menu-list > .sub-item:hover a .plus:after {
  transform: translate(-50%, -50%) rotate(0deg);
}

@media (max-width: 950px) {
  img {
    width: 100%;
    height: 200px;
  }
}

@media (max-width: 610px) {
  img {
    width: 100%;
    height: auto;
    max-height: 300px;
  }
}

tr {
  border-top: 1px solid #c6cbd1;
  background: #fff;
  color: darkgray;
}

th,
td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

table tr:nth-child(2n) {
  background: #f6f8fa;
}
